* {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.franklinNews {
  width: 100%;
}

/* news top */
/*.news-top {
  width: 100%;
}*/
.news-top-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.header-logo {
  width: 100px;
  height: 100%;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.header-pageTitle {
  width: 100px;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-searchBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  right:50px;
}
.header-nav {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
}
.navBtn {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navBtn-bar {
  width: 90%;
  height: 10%;
  background-color: #000;
  border-radius: 5px;
}
.header-nav-desktop {
  height: 100%;
  position: absolute;
  right: 0px;
}
.header-nav-desktop ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav-list {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.nav-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-mobile-content {
  width: 100%;
  overflow: hidden;
}
.nav-mobile-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-mobile-lists::after {
  content: "";
  display: block;
  width: 85%;
  height: 2px;
  background-color: #000;
  margin-top: 20px;
  border-radius: 10px;
}
.nav-mobile-list {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.nav-mobile-media-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.nav-mobile-media {
  margin-left: 10px;
  margin-right: 10px;
}



/* news view */
.news-view {
  width: 100%;
  margin-top: 20px;
}
.headline {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.headline-carousel {
  width: 100%;
  background-color: #000;
}
.headline-carousel > ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.headline-carousel-list {

}
.headline-progress {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.headline-progress ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline-progress-list {
  width: 50px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
}
.categoryNews {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.categoryNews-title {

}
.categoryNews-text {
  width: 100%;
  display: grid;
}
/* business news */
.businessNews {

}
/* /business news */




/* news bottom */
.news-bottom {
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.news-bottom-footer {
  width: 100%;
}
.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.footer-nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.footer-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-nav-list {
  font-size: 1rem;
  font-weight: bold;
}
.footer-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer-search-bar {
  width: 300px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 10px;
}
.footer-info {
  width: 100%;
  margin-top: 50px;
}
.footer-info-item {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info-copyright {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}
.footer-info-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer-info-link {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #000;
  font-size: 0.8rem;
  white-space: nowrap;
}
.footer-info-link:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

/* /news bottom */
